* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  background-color: #e8e8e8;
  width: 414px;
}
/*--------------------------------------------------------------------HEADER */
header {
  background-color: #005b90;
  color: white; /*---------------------- header text color */
  height: fit-content;
  padding: 1rem 2rem;
}

.p1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

#logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: flex-start; /*------------------- changed from centre */
}

#searchBarParent {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
}
#searchBar {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  color: grey;
  background-color: white;
  padding: 0 1rem;
}

#userDetails {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 0.5rem;
}

.profilePic {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profilePic {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
}

#welcomeTxt {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  font-weight: bold;
}

#userName {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
}

#notificationBar {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5rem;
}

#iconParent {
  width: 40px;
  height: 40px;
}

#circle {
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  border-radius: 50%;
  background-color: white;
}

#notificationBell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notificationBell img {
  width: 20px;
  height: 24px;
}
/*--------------------------------------------------------------------HEADER */

/*--------------------------------------------------------------------STATIONS */
.stations {
  padding: 1.5rem 2rem;
}

.title {
  padding-bottom: 1.5rem;
  display: block;
}

.title h2 {
  font-size: 16px;
  font-weight: 400;
  padding: 0 0.5rem;
  color: rgba(30, 30, 30, 0.8);
}

.testcontainer {
  width: 100%;
  height: 100%;
}

.testparent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  align-items: center;
  justify-items: center;
}
.testcircle1 {
  background-color: #005b90;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.testcircle2 {
  background-color: #005b90;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.testcircle3 {
  background-color: #005b90;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.testcircle4 {
  background-color: #005b90;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.testcircle5 {
  background-color: #005b90;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.testcircle6 {
  background-color: #005b90;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.testcircle7 {
  background-color: #005b90;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.testcircle8 {
  background-color: #005b90;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.testlabel1 {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-size: 12px;
  padding: 0.2rem 0.5rem;
  color: rgba(30, 30, 30, 0.8);
}

.testlabel2 {
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
  font-size: 12px;
  padding: 0.5rem 0.5rem;
  color: rgba(30, 30, 30, 0.8);
}
/*--------------------------------------------------------------------STATIONS */
/*--------------------------------------------------------------------YOUR LEARNING */
.yourLearning {
  padding: 1.5rem 2rem;
  padding-top: 0;
}

.parentContainer {
  width: 100%;
  height: 100%;
}

.optionParent {
  display: flex;
  justify-content: space-between;
}

.options {
  height: 105px;
  width: 105px;
  background-color: #bebfbe;
  border-radius: 16px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theIcon {
  border: 1px solid black;
  width: 80px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconLabel {
  height: 37.5px;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(30, 30, 30, 0.8);
}
/*--------------------------------------------------------------------YOUR LEARNING */
/*--------------------------------------------------------------------RECOMMENDED */
.recommendedStations {
  padding: 1.5rem 2rem;
  padding-top: 0;
}

.recommendedStationsContainer {
  width: 100%;
  height: 1005;
}

.recommendedStationsParent {
  display: flex;
  justify-content: space-between;
}

.recommendedStationsChild {
  background-color: #bebfbe;
  width: 160px;
  height: 160px;
  border: 2px solid white;
  border-radius: 10px;
}

.recommendedStationsOptions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theIcon1 {
  width: 140px;
  height: 90px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLabel1 {
  width: 90%;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
  color: rgba(30, 30, 30, 0.8);
}
